@model MvcDirectory.Models.PersonModel.PersonAddViewModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="display-4 font-weight-light text-center">Add New Person</h1>
                </div>
                <div class="card-body">
                    <!-- Add.cshtml -->

                    <form method="post" action="~/Person/Add/" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="name">Name</label>
                            @Html.TextBoxFor(x => x.Person.Name, new { @class = "form-control", @id = "name", required = "required" })
                            <div class="invalid-feedback">
                                Please enter a valid name.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            @Html.TextBoxFor(x => x.Person.PhoneNumber, new { @class = "form-control", @id = "phoneNumber", required = "required", pattern = "\\d{10,11}", title = "Enter a valid phone number (10 or 11 digits)" })
                            <div class="invalid-feedback">
                                Please enter a valid phone number (10 or 11 digits).
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            @Html.TextBoxFor(x => x.Person.Email, new { @class = "form-control", @id = "email", type = "email", required = "required" })
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <a href="@Url.Action("Index")" class="btn btn-outline-secondary">Return</a>
                            <a href="@Url.Action("Read", "Person")" class="btn btn-primary btn-md add-button" style="background-color: #808080;">Read From Card</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <!-- The form validation script can remain the same as before -->
}
