@model MvcDirectory.Models.PersonModel.PersonDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.IO

<style>
    /* Add any other styles you want to customize here */
    .profile-picture {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;
    }

    .profile-picture-label {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .profile-picture-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid black; /* Add the border style */
        border-radius: 50%;
        border-color: dimgray;
        transition: opacity 0.3s;
    }


    .profile-picture-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.4; /* Başlangıçta overlay görünmez olacak */
        transition: opacity 0.3s;
    }

    .profile-picture-overlay1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0; /* Başlangıçta overlay görünmez olacak */
        transition: opacity 0.3s;
    }

    .profile-picture-label:hover .profile-picture-overlay1 {
        opacity: 1; /* Overlay'e tıklanınca görünür olacak */
    }

    .profile-picture-label:hover .profile-picture-overlay {
        opacity: 1; /* Overlay'e tıklanınca görünür olacak */
    }

    .profile-picture-overlay1 i {
        font-size: 24px;
        color: white;
    }

    .profile-picture-overlay i {
        font-size: 24px;
        color: white;
    }

    .profile-picture-text {
        color: white;
        font-weight: bold;
        margin-top: 5px;
    }

    .save-button {
        font-size: 14px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 100%;
    }
</style>

<body class="container mt-5">
    <div class="d-flex flex-column justify-content-between min-vh-100">
        <div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card table-borderless">
                        <div class="card-header bg-primary text-white bg-black">
                            <h1 class="display-4 font-weight-light text-center">Details of @Model.Person.Name</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-6">
                                    <dl class="row">

                                        <dd class="col-sm-8">
                                            <div class="profile-picture">
                                                <label class="profile-picture-label" for="fileInput">
                                                    @if (!string.IsNullOrEmpty(Model.Person.CroppedPhoto))
                                                    {
                                                        <img src="@Model.Person.CroppedPhoto" alt="Profile Photo" class="profile-picture-image" />
                                                        <span class="profile-picture-overlay">
                                                            <i class="fas fa-camera"></i>
                                                            <span class="profile-picture-text">Change Photo</span>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <i class="fas fa-camera profile-picture-image"></i>
                                                        <span class="profile-picture-overlay1">
                                                            <i class="fas fa-camera"></i>
                                                            <span class="profile-picture-text">Add Photo</span>
                                                        </span>
                                                    }

                                                </label>
                                            </div>
                                        <dt class="col-sm-4">Profile Photo:</dt>
                                        </dd>
                                        <dt class="col-sm-4">Name :</dt>
                                        <dd class="col-sm-8">@Model.Person.Name</dd>

                                        <dt class="col-sm-4">Phone :</dt>
                                        <dd class="col-sm-8">@Model.Person.PhoneNumber</dd>

                                        <dt class="col-sm-4">Email :</dt>
                                        <dd class="col-sm-8">@Model.Person.Email</dd>
                                    </dl>
                                </div>

                                <div class="col-md-4" style="right:-500px; top:-50px;">
                                    <form id="personalNotesForm" method="post" asp-controller="Person" asp-action="AddPersonalNotes" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="personalNotes" class="font-weight-bold">Personal Notes:</label>
                                            <textarea class="form-control" id="personalNotes" name="Person.PersonalNotes" rows="4">@Model.Person.PersonalNotes</textarea>
                                        </div>

                                        <input type="hidden" asp-for="Person.Id" />

                                        <div class="mt-3">
                                            <button type="submit" class="btn bg-black text-white save-button">Save</button>
                                        </div>
                                    </form>

                                    <!-- Add success message display -->
                                    @if (TempData["BasariliMesaj"] != null)
                                    {
                                        <div class="alert alert-success mt-3">@TempData["BasariliMesaj"]</div>
                                    }
                                </div>
                            </div>


                        </div>

                        <div class="card-footer text-muted text-center">
                            <a href="@Url.Action("Index")" class="btn return-button"><i class="fa fa-undo"></i> Return</a>
                            <a href="@Url.Action("Update", new { id = Model.Person.Id })" class="btn update-button"> <i class="fa fa-pencil"></i> Update</a>
                            <a href="#" class="btn delete-button" data-id="@Model.Person.Id"><i class="fa fa-trash"></i> Delete</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <!-- Empty div for pushing the footer to the bottom -->
        </div>
    </div>
</body>




@section Scripts {
    <script>
        // Handle delete button click
        $(".btn-delete").on("click", function () {
            var id = $(this).data("id");
            if (confirm("Are you sure you want to delete the record?")) {
                $.ajax({
                    url: "@Url.Action("Delete", "Person")",
                    type: "POST",
                    data: { id: id },
                    success: function (result) {
                        window.location.href = "@Url.Action("Index")";
                    },
                    error: function () {
                        alert("An error occurred while deleting the record.");
                    }
                });
            }
        });

        /* Form gönderildiğinde çalışacak kod*/
        $("#personalNotesForm").submit(function (e) {
            e.preventDefault(); // Sayfa yenilenmesini engellemek için formu submit etmeyi durduruyoruz

            // Form verilerini alıyoruz
            var formData = new FormData(this);

            // Eğer fotoğraf seçilmişse, formData içine ekliyoruz
            var file = $("#fileInput")[0].files[0];
            if (file) {
                formData.append("CroppedPhoto", file);
            }

            // AJAX ile formu sunucuya gönderiyoruz
            $.ajax({
                url: $(this).attr("action"),
                type: "POST",
                data: formData,
                processData: false, // Dosyaları işleme sokma
                contentType: false, // Content tipi ayarlamama
                success: function (result) {
                    // Başarılı olduğunda sayfayı yenile
                    window.location.reload();
                },
                error: function () {
                    alert("An error occurred while saving the data.");
                }
            });
        });


    </script>
}
