@model MvcDirectory.Models.PersonModel.PersonIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .index-title {
        color: #000;
        font-size: 3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s ease-in-out;
    }

        .index-title:hover {
            transform: translateY(-5px);
        }

    .add-button {
        background-color: #0185d0;
        color: #fff;
        transition: background-color 0.2s ease-in-out;
        border: 2px solid;
    }

        .add-button:hover {
            background-color: #0056b3;
        }

    .detail-button {
        background-color: #0ac494;
    }

    .delete-button {
        background-color: #f25f5c;
    }

    /* Update button styles */
    .update-button {
        background-color: #50514f;
        color: #fff;
        transition: background-color 0.2s ease-in-out;
        border-radius: 5px;
        border-color: white;
    }

        .update-button:hover {
            background-color: #42453d;
        }

    .clear-search-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px; /* Adjust the margin as needed to create the desired space */
    }

    .search-form-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }

    /* Adjust the width of the search input */
    #searchName {
        width: 200px; /* Adjust the width as needed */
    }

    /* Adjust the position of the search button */
    #search-button {
        background-color: #50514f;
        margin-left: 5px; /* Adjust the margin as needed */
        width: 100px;
    }

    .table-container {
        margin-top: 20px;
        opacity: 0.3;
    }

    .table-responsive {
        overflow-x: auto;
        background-color: #d0def2;
        opacity: 0.9;
    }

    .custom-checkbox + label {
        position: relative;
        padding-left: 5px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }

    .table tbody td {
        height: 60px;
        vertical-align: middle;
        opacity: 1;
    }

    .rounded-img {
        width: 60px;
    }

        .rounded-img img {
            max-width: 40px;
            max-height: 40px;
            border-radius: 50%;
        }

    /* Custom modal styles */
    .custom-modal {
        background: rgba(0, 0, 0, 0.5);
    }

    .custom-modal-content {
        background-color: #f5f5f5;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    .custom-modal-header {
        border-bottom: none;
        background-color: transparent;
    }

    .custom-modal-body {
        padding: 20px;
        text-align: center;
    }

    .custom-modal-footer {
        border-top: none;
        background-color: transparent;
    }

    /* Profile image styles */
    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .no-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        font-size: 50px;
        background-color: #e0e0e0;
        color: #bdbdbd;
    }

    /* Custom table styles */
    .custom-table {
        width: 100%;
        margin-top: 20px;
    }

        .custom-table th {
            width: 150px;
        }

    /* Font Awesome for icons */
    .no-photo i {
        color: #757575;
    }


</style>


<section class="container mt-5">
    <div class="text-center mb-4">
        <h1 class="index-title">
            <img src="~/images/directory.png" style="width: 60px;" />Directory
        </h1>
        <a href="@Url.Action("Add", "Person")" class="btn btn-primary btn-lg mt-3 add-button" style="background-color: #0185d0;">Add New User</a>
        <a href="@Url.Action("Read", "Person")" class="btn btn-primary btn-lg mt-3 add-button" style="background-color: #50514f;">Read From Card</a>

    </div>

    <form method="get" asp-controller="Person" asp-action="Search">
        <div class="input-group mb-3">
            <input type="text" placeholder="Search Name" aria-label="Search Name" aria-describedby="search-button" id="searchName" name="searchName" />
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="search-button">Search</button>
            </div>
        </div>
    </form>

    <div class="container-fluid p-0">
        <div class="table-responsive-xl">
            @foreach (var person in Model.People.OrderBy(k => k.Name))
            {
                <div class="modal fade custom-modal" id="detayModal-@person.Id" tabindex="-1" role="dialog" aria-labelledby="detayModalLabel-@person.Id" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content custom-modal-content">
                            <div class="modal-header custom-modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body custom-modal-body">
                                <div class="text-center">
                                    @if (person.CroppedPhoto != null)
                                    {
                                        <img src="@person.CroppedPhoto" alt="Fotoğraf" class="rounded-circle profile-image" />
                                    }
                                    else
                                    {
                                        <div class="no-photo">
                                            <i class="fas fa-user-circle"></i>
                                        </div>
                                    }
                                    <h2 class="mt-3">@person.Name</h2>
                                </div>
                                <table class="table table-bordered mt-4 custom-table">
                                    <tr>
                                        <th style="width: 150px;">Ad:</th>
                                        <td>@person.Name</td>
                                    </tr>
                                    <tr>
                                        <th>Numara:</th>
                                        <td>@person.PhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <th>Eposta:</th>
                                        <td>@person.Email</td>
                                    </tr>
                                    <tr>
                                        <th>Notes:</th>
                                        <td>@person.PersonalNotes</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="modal-footer custom-modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    @* Update pop up *@

<div class="modal fade custom-modal" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content custom-modal-content">
            <div class="modal-header custom-modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body custom-modal-body">
                <!-- Güncelleme formu içeriği buraya gelecek -->
                @using (Html.BeginForm("Update", "Person", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.HiddenFor(x => x.Person.Id, new { Value = Model.Person.Id })
                    <div class="form-group">
                        @Html.LabelFor(x => x.Person.Name)
                        @Html.TextBoxFor(x => x.Person.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Person.PhoneNumber)
                        @Html.TextBoxFor(x => x.Person.PhoneNumber, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Person.Email)
                        @Html.TextBoxFor(x => x.Person.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group text-center">
                        <a href="@Url.Action("Index")" class="btn btn-outline-secondary">Return</a>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>



    @{
        var searchName = Context.Request.Query["searchName"].ToString();
    }
    @if (!string.IsNullOrEmpty(searchName))
    {
        <a href="@Url.Action("Index")" class="btn btn-primary btn-sm alert-secondary" style="margin-bottom: 15px;">Clear Search</a>
    }

    <div class="text-center">
        <form method="post" asp-controller="Person" asp-action="DeleteSelected">
            <div class="table-responsive" style="margin-bottom:300px;">
                <table class="table table-striped table-bordered">
                    <thead class="table-primary" style="background-color: #0185d0; color: white;">
                        <tr>
                            <th class="text-center">
                                <div class="form-check">
                                    <input class="form-check-input custom-checkbox" type="checkbox" id="selectAll">
                                    <label class="form-check-label" for="selectAll">
                                        <button type="submit" class="btn btn-danger btn-sm delete-button" id="deleteSelectedBtn" style="display: none;">X</button>
                                    </label>
                                </div>
                            </th>
                            <th class="text-center"></th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Phone Number</th>
                            <th class="text-center">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in Model.People)
                        {
                            <tr>
                                <td class="text-center">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="checkbox" name="selectedPeople" value="@person.Id">
                                    </div>
                                </td>
                                <td class="text-center rounded-img">
                                    @if (person.CroppedPhoto != null)
                                    {
                                        <a href="@person.CroppedPhoto" data-lightbox="person-photos" data-title="Fotoğraf">
                                            <img src="@person.CroppedPhoto" alt="Fotoğraf" style="max-width: 50px; max-height: 50px; border-radius: 50%;" />
                                        </a>
                                    }
                                </td>
                                <td class="text-center">@person.Name</td>
                                <td class="text-center">@person.PhoneNumber</td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-info btn-md" onclick="openDetayModal('@person.Id')">Detail</a>
                                    <a href="#" class="btn btn-primary btn-md" onclick="openUpdateModal('@person.Id')">Update</a>
                                    <a href="@Url.Action("Delete", new { id = person.Id })" class="btn btn-danger btn-md delete-button" onclick="return confirm('Are you sure you want to delete the record?');">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</section>

<script>
    var selectAllCheckbox = document.getElementById("selectAll");
    var deleteSelectedBtn = document.getElementById("deleteSelectedBtn");
    var checkboxes = document.querySelectorAll('[name="selectedPeople"]');

    // Checkbox veya "Select All" değiştiğinde butonun görünürlüğünü ayarla
    function updateDeleteButtonVisibility() {
        var anyCheckboxChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                anyCheckboxChecked = true;
                break;
            }
        }
        deleteSelectedBtn.style.display = anyCheckboxChecked ? "block" : "none";
    }

    // Checkbox değişikliklerini takip et
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", updateDeleteButtonVisibility);
    }

    // "Select All" checkbox değişikliklerini takip et
    selectAllCheckbox.addEventListener("change", function () {
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
        updateDeleteButtonVisibility();
    });

    function openDetayModal(id) {
        $('#detayModal-' + id).modal('show');
    }
    function openUpdateModal(id) {
        $('#updateModal').modal('show'); // Update pop-up ID'si burada kullanıldı
    }


</script>







