@model MvcDirectory.Models.PersonModel.PersonIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container mt-3">
    <div class="text-center mb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3">
                    <div class="text-center mb-5">
                        <div class="wrapper">
                            <div class="ring" style="justify-content:center;">
                                <div class="d-flex justify-content-center align-items-center" style="min-height: 30vh;">
                                    <div class="coccoc-alo-phone coccoc-alo-green coccoc-alo-show d-flex flex-column align-items-center justify-content-center" style="height: 10vh;">
                                        <a class="index-title" href="@Url.Action("Index")">
                                            <!-- Eğer logo eklemek isterseniz:
                                            <img src="~/images/directory-logo-white1.png" alt="DIRECTORY Logo" style="width: 200px;">
                                            -->
                                            DIRECTORY
                                        </a>
                                        <a class="phone-ring mt-5 mb-5 text-center">
                                            <div class="coccoc-alo-ph-circle"></div>
                                            <div class="coccoc-alo-ph-circle-fill"></div>
                                            <div class="coccoc-alo-ph-img-circle"></div>
                                        </a>
                                    </div>
                                </div>*/

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>



    <div class="text-center">
        <form method="post" asp-controller="Person" asp-action="DeleteSelected">
            <div class="container">
                <div class="d-flex justify-content-between align-items-start">
                    <div class="input-group w-25">
                        <input type="text" class="form-control" placeholder="Search Name" aria-label="Search Name" aria-describedby="search-button" id="searchName" name="searchName" />
                        <button class="btn btn-secondary" type="submit" id="search-button">Search</button>
                    </div>
                    <div class="text-end mb-3">
                        <a href="@Url.Action("Add", "Person")" class="btn  btn-lg" style="background-color: white; color:black; border-color:white;">Add New User</a>
                        <a href="@Url.Action("Read", "Person")" class="btn  btn-lg" style="background-color: white; color: black; border-color:white;">Read From Card</a>
                    </div>
                </div>


                @{
                    var searchName = Context.Request.Query["searchName"].ToString();
                }
                @if (!string.IsNullOrEmpty(searchName))
                {
                    <a href="@Url.Action("Index")" class="btn btn-primary btn-sm alert-secondary" style="margin-bottom: 15px;">Clear Search</a>
                }
                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                        <thead class="table-light">
                            <tr>
                                <th class="text-center">
                                    <div class="form-check">
                                        <input class="form-check-input custom-checkbox" type="checkbox" id="selectAll">
                                        <label class="form-check-label me-lg-5" for="selectAll">
                                            <button type="submit" class="btn btn-danger btn-sm delete-checkbox" id="deleteSelectedBtn" style="display:none;">
                                                <i class="fas fa-trash"></i> Delete Selected
                                            </button>
                                        </label>
                                    </div>
                                </th>
                                <th class="text-center"></th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Phone Number</th>
                                <th class="text-center">Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var person in Model.People)
                            {
                                <tr>
                                    <td class="text-center ">
                                        <div class="form-check">
                                            <input class="form-check-input custom-checkbox" id="checkbox" type="checkbox" name="selectedPeople" value="@person.Id">
                                        </div>
                                    </td>
                                    <td class="text-center rounded-img">
                                        @if (person.CroppedPhoto != null)
                                        {
                                            <a href="@person.CroppedPhoto" data-lightbox="person-photos" data-title="Fotoğraf">
                                                <img src="@person.CroppedPhoto" alt="Fotoğraf" style="max-width: 50px; max-height: 50px; border-radius: 50%;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <img src="~/images/default-user.png" alt="Varsayılan Fotoğraf" style="max-width: 50px; max-height: 50px; border-radius: 50%;" />
                                        }
                                    </td>

                                    <td class="text-center">@person.Name</td>
                                    <td class="text-center">@person.PhoneNumber</td>
                                    <td class="text-center">
                                        <div class="button-group">
                                            <a href="@Url.Action("Detail", new {id=person.Id})" class="btn detail-button" onclick="openDetayModal('@person.Id')">
                                                <i class="fa fa-info-circle"></i> Detail
                                            </a>
                                            <a href="#" class=" btn update-button" onclick="openUpdateModal('@person.Id')">
                                                <i class="fa fa-pencil"></i> Update
                                            </a>
                                            <a href="@Url.Action("Delete", new { id = person.Id })" class="btn delete-button" onclick="return confirm('Are you sure you want to delete the record?');">
                                                <i class="fa fa-trash"></i>  Delete
                                            </a>
                                        </div>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center mt-3 text-black">
                    <ul class="pagination">
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                <a class="page-link text-black" href="@Url.Action("Index", new { page = i })">@i</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var selectAllCheckbox = document.getElementById("selectAll");
    var deleteSelectedBtn = document.getElementById("deleteSelectedBtn");
    var checkboxes = document.querySelectorAll('[name="selectedPeople"]');

    // Checkbox veya "Select All" değiştiğinde butonun görünürlüğünü ayarla
    function updateDeleteButtonVisibility() {
        var anyCheckboxChecked = false;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                anyCheckboxChecked = true;
                break;
            }
        }
        deleteSelectedBtn.style.display = anyCheckboxChecked ? "block" : "none";
    }

    // Checkbox değişikliklerini takip et
    for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("change", updateDeleteButtonVisibility);
    }

    // "Select All" checkbox değişikliklerini takip et
    selectAllCheckbox.addEventListener("change", function () {
        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = this.checked;
        }
        updateDeleteButtonVisibility();
    });

    function openDetayModal(id) {
        $('#detayModal-' + id).modal('show');
    }
    function openUpdateModal(id) {
        $('#updateModal-').modal('show'); // Update pop-up ID'si burada kullanıldı
    }

    $(document).ready(function () {
        $('.open-update-modal').click(function () {
            $('#updateModal').modal('show');
        });
    });

</script>







