@model MvcDirectory.Models.PersonModel.PersonUpdateViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5"><style>
    /* Add any other styles you want to customize here */
    .profile-picture {
        left:190px;
        position: relative;
        width: 300px;
        height: 300px;
        overflow: hidden;
        border-radius: 50%;
    }

    .profile-picture-label {
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .profile-picture-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid black; /* Add the border style */
        border-radius: 50%;
        border-color: dimgray;
        transition: opacity 0.3s;
    }


    .profile-picture-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0.4; /* Başlangıçta overlay görünmez olacak */
        transition: opacity 0.3s;
    }

    .profile-picture-overlay1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0; /* Başlangıçta overlay görünmez olacak */
        transition: opacity 0.3s;
    }

    .profile-picture-label:hover .profile-picture-overlay1 {
        opacity: 1; /* Overlay'e tıklanınca görünür olacak */
    }

    .profile-picture-label:hover .profile-picture-overlay {
        opacity: 1; /* Overlay'e tıklanınca görünür olacak */
    }

    .profile-picture-overlay1 i {
        font-size: 24px;
        color: white;
    }

    .profile-picture-overlay i {
        font-size: 25px;
        color: white;
    }

    .profile-picture-text {
        color: white;
        font-weight: bold;
        margin-top: 5px;
    }

    .save-button {
        font-size: 14px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        width: 100%;
    }
</style>
    <div class="d-flex flex-column justify-content-between min-vh-100">
        <div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="card table-borderless">
                        <div class="card-header bg-primary text-white bg-black">
                            <h1 class="display-4 font-weight-light text-center">Update @Model.Person.Name</h1>
                        </div>
                        <div class="card-body">
                            <div class="col-md-4 offset-md-2" style="top:10px; right:10px;">
                                <div class="profile-picture">
                                    <label class="profile-picture-label" for="fileInput">
                                        @if (!string.IsNullOrEmpty(Model.Person.CroppedPhoto))
                                        {
                                            <img src="@Model.Person.CroppedPhoto" alt="Profile Photo" class="profile-picture-image" />
                                            <span class="profile-picture-overlay">
                                                <i class="fas fa-camera"></i>
                                                <span class="profile-picture-text">Change Photo</span>
                                            </span>
                                        }
                                        else
                                        {
                                            <i class="fas fa-camera profile-picture-image"></i>
                                            <span class="profile-picture-overlay1">
                                                <i class="fas fa-camera"></i>
                                                <span class="profile-picture-text">Add Photo</span>
                                            </span>
                                        }

                                    </label>
                                </div>
                            </div>
                            @using (Html.BeginForm("Update", "Person", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.HiddenFor(x => x.Person.Id);
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Person.Name)
                                    @Html.TextBoxFor(x => x.Person.Name, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Person.PhoneNumber)
                                    @Html.TextBoxFor(x => x.Person.PhoneNumber, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Person.Email)
                                    @Html.TextBoxFor(x => x.Person.Email, new { @class = "form-control" })
                                </div>
                                <div class="form-group text-center">
                                    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">Return</a>
                                    <input type="submit" class="btn btn-" value="Save" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <!-- Empty div for pushing the footer to the bottom -->
        </div>
    </div>
</div>

@section Scripts {


}
