@model MvcDirectory.Models.PersonModel.PersonUpdateViewModel
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /* Add this style to the body element to make the footer sticky */
    body {
        margin: 0;
        padding: 0;
    }

    /* Add a custom class to the container to push the footer to the bottom */
    .min-vh-100 {
        min-height: 100vh;
    }

    /* Add these styles to make the footer sticky at the bottom */
    .d-flex {
        display: flex;
    }

    .flex-column {
        flex-direction: column;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    /* Add any other styles you want to customize here */
    .form-group {
        margin-bottom: 15px;
    }
</style>

<section class="container mt-5">
    <div class="d-flex flex-column justify-content-between min-vh-100">
        <div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h1 class="display-4 font-weight-light text-center">Update Person</h1>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Update", "Person", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.HiddenFor(x => x.Person.Id);
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Person.Name)
                                    @Html.TextBoxFor(x => x.Person.Name, null, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Person.PhoneNumber)
                                    @Html.TextBoxFor(x => x.Person.PhoneNumber, null, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(x => x.Person.Email)
                                    @Html.TextBoxFor(x => x.Person.Email, null, new { @class = "form-control" })
                                </div>
                                <div class="form-group text-center">
                                    <a href="@Url.Action("Index")" class="btn btn-outline-secondary">Return</a>
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <!-- Empty div for pushing the footer to the bottom -->
        </div>
    </div>
</section>

@section Scripts {

}
